

.scrollable {
    position: relative;
    overflow: hidden;
  margin-bottom: 50px;
  max-width: 90%;
  margin: auto;
}

.scrollable.showScroll::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #f1f1f1;
}

.scrollable .content-wrapper {
    overflow-x: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;
}

.scrollable .content-wrapper::-webkit-scrollbar {
  display: none;
}

.c-scroll__bottom {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    height: 5px !important;
    background: red;
    bottom: 0;
    left: 0;
    transition: top .08s;
}

.content{
    width: calc(800/750*100vw);
  height: 150px;
}

.scrollable.showScroll::after {
  width: calc(100%);
  right: 0;
  margin: auto;
}




.scroller02 {
    height: 5px;
    opacity: 1;
    z-index: 5;
    cursor: pointer;
    position: absolute;
    width: 5px;
    background: red;
    top: 0px;
    right: 0;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    -ms-transition: top .08s;
    -o-transition: top .08s;
    transition: top .08s;
}

.scroll__height::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 5px;
    right: 0;
    background: #f1f1f1;
}
