

.scrollable {
    position: relative;
    overflow: hidden;
	margin-bottom: 50px;
	max-width: 90%;
	margin: auto;
}

.content{
    width: calc(800/750*100vw);
  	height: 450px;
  	padding: 20px;
}

.content-wrapper {
	border: 1px solid grey;
}


.c-scroll {
	&__body {
		position: relative;
	    overflow: hidden;
		margin: auto;

		&::after {
	    	width: 100%;
	    	position: absolute;
		    content: '';
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 5px;
		    background: #f1f1f1;
		    margin: auto;
	    }

	    &::before {
	    	height: 100%;
	    	position: absolute;
		    content: '';
		    top: 0;
		    right: 0;
		    width: 5px;
		    background: #f1f1f1;
		    margin: auto;
	    }

	    &[data-scroll-height='only'] {
	    	&:after {
	    		display: none;
	    	}

	    	.c-scroll__bottom {
	    		display: none;
	    	}

	    	.content {
	    		width: 100%;
	    	}
	    }

	    &[data-scroll-width='only'] {
	    	&:before {
	    		display: none;
	    	}

	    	.c-scroll__right {
	    		display: none;
	    	}

	    	.content {
	    		height: 100%;
	    	}
	    }
	}

	&__bottom {
	    z-index: 5;
	    cursor: pointer;
	    position: absolute;
	    height: 5px;
	    background: red;
	    bottom: 0;
	    left: 0;
	    transition: top .08s;
	}

	&__right {
	    z-index: 5;
	    cursor: pointer;
	    position: absolute;
	    width: 5px;
	    background: red;
	    top: 0;
	    right: 0;
	    transition: top .08s;
	}

	&__content {
		overflow: scroll;
		scrollbar-width: none;
    	-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
